<html>
    <head>
        <link href="theme.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Learning Journal</h1>
            <nav>
                <ul>
                    <li><a href="/"><h3>Home</h3></a></li>
                    <li><a href="/journal/11"><h3>Detail</h3></a></li>
                    <li><a href="/journal/11/edit-entry"><h3>Edit Entry</h3></a></li>
                    <li><a href="/journal/new-entry"><h3>Create New Entry</h3></a></li>
                </ul>
            </nav>
        </header>
        <article>
            <ul>
                <li>
                    <h2>{{title}}</h2>
                    <p>{{body}}</p>
                    <a href="templates/averypratt-mockups/edit_form.html"><h4>edit</h4></a>
                    <h3>{{date}}</h3>
                </li>
            </ul>
        </article>
        <footer>
            
        </footer>
    </body>
</html>